{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>

<body>
    
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<div id="sidebar">
    <h2><a href="/blog">My Blog</a></h2>
    <p>This is my blog. I've written {% total_posts %} posts so far.</p>
    <p>
        <a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a>
    </p>
    
    <h3>Latest posts</h3>
    {% show_latest_posts 3 %}

    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
    {% for post in most_commented_posts %}
        <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>

</div>

</body>
</html>
